<ion-split-pane>

	<ion-menu id="leftMenu" type="overlay" [content]="content">

		<ion-header>
			<ion-toolbar>
				<ion-title>Pages</ion-title>
			</ion-toolbar>
		</ion-header>

		<ion-content [menuClose]="wide">
			<ion-list>
				<ion-item (click)="openPage(homePage)">
					<ion-icon [name]="homePage.icon" item-left></ion-icon>
					{{homePage.title}}
				</ion-item>
				<ion-item-divider>
					Generic
				</ion-item-divider>
				<ion-item *ngFor="let p of genericPages" (click)="openPage(p)">
					<ion-icon [name]="p.icon" item-left></ion-icon>
					{{p.title}}
				</ion-item>
				<ion-item-divider>
					Database
				</ion-item-divider>
				<ion-item *ngFor="let p of databasePages" (click)="openPage(p)">
					<ion-icon [name]="p.icon" item-left></ion-icon>
					{{p.title}}
				</ion-item>
				<ion-item-divider>
					3rd Party / Special
				</ion-item-divider>
				<ion-item *ngFor="let p of thirdpartyPages" (click)="openPage(p)">
					<ion-icon [name]="p.icon" item-left></ion-icon>
					{{p.title}}
				</ion-item>
				<ion-item-divider>
					CSS Components
				</ion-item-divider>
				<ion-item *ngFor="let p of cssComponentsPages" (click)="openPage(p)">
					<ion-icon [name]="p.icon" item-left></ion-icon>
					{{p.title}}
				</ion-item>
			</ion-list>
		</ion-content>

	</ion-menu>

	<ion-nav id="nav" [root]="rootPage" main #content swipe-back-enabled="false"></ion-nav>
</ion-split-pane>
